body {
  background-image: url(https://images.pexels.com/photos/2609107/pexels-photo-2609107.jpeg?_gl=1*18bzhhm*_ga*NDkyNzUyMTIyLjE3NTY0MjM3ODE.*_ga_8JE65Q40S6*czE3NTY0MjM3ODAkbzEkZzEkdDE3NTY0MjM4MjckajEzJGwwJGgw);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
