/* Reset pequeño */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6f9;
  margin: 0;
  color: #333;
}

/* Título principal */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #0d6efd;
}

/* Contenedor principal del formulario */
.contenedor-form {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.532);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #444;
}

/* Subtítulo dentro del formulario */
.contenedor-form h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 25px;
  color: #34495e;
}

/* Labels */
.form-label {
  font-weight: 500;
  color: #444;
  margin-bottom: 6px;
}

/* Inputs */
.form-control {
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  transition: all 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

/* Mensajes de error */
.invalid-feedback {
  font-size: 0.9rem;
  color: #dc3545;
}

/* Botones */
button[type="submit"],
button[type="reset"] {
  min-width: 120px;
  padding: 10px 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.3s ease;
}

/* Botón ENVIAR */
button[type="submit"] {
 background-color: #0d6efd;
 border: 2px solid #0d6efd;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #0d6efd;
  border: 2px solid #0d6efd;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Botón LIMPIAR */
button[type="reset"] {
  background-color: #6c757d;
  border: 2px solid #6c757d;
  color: #fff;
}

button[type="reset"]:hover {
  background-color: #fff;
  color: #6c757d;
  border: 2px solid #6c757d;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}



